.row{
    padding: 10px;

}

div{
    background-color: #252525;
    text-align: center;
}

.ubicacion{
    align-items: center;
    justify-content: center;
}
#bio{
    /* background: #dd6363; */
    padding-top:15px;
    padding-left: 47px;
    padding-right: 47px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-180deg, rgb(255, 145, 0) 0%, rgb(121, 4, 255) 100%);
    background-blend-mode: lighten;
    border: 1.5px outset #000;
}

#about{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f111a, #739ab1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1.5px outset #000;
    font-size: 18px;
    color:#e3eeff
}


@media (max-width: 20px){
    #profilepic{
        width: 50%;
        align-items: center;
        justify-content:center;
        /* top:20px; */
        /* border-radius: 60%; */
        /* border: 1.5px outset #000; */
        
        position: absolute;
        /* width: 40%; */
        /* left: 30%; */
        
        /* top:600px; */
    }
}

p{
    padding-top: 10px;
    font-size: 22px;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}
.acerca{
    font-size: 30px;
    padding-top: 40px;
    font-family: 'Castoro Titling', cursive;
    font-family: 'IBM Plex Mono', monospace;
}
