<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/header/APLogo.png" id="logoAP">
        </div>

        <div class="redes">
                <a href="https://www.facebook.com/isaias.moran.18" target="_blank"><img src="../../../assets/header/logofb.png" id="facebook"></a>
                <a href="https://twitter.com/Isamoran_321" target="_blank"><img src="../../../assets/header/logotw.png" id="twitter"></a>
                <a href="https://www.instagram.com/moran.isa/" target="_blank"><img src="../../../assets/header/logoig.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/isa-moran-08aa40270/" target="_blank"><img src="../../../assets/header/logolinkedin.png" id="linkedin"></a>
                <a href="https://github.com/m0r4n" target="_blank"><img src="../../../assets/header/logogit.png" id="github"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>        
        </div>

    </div>
 </div>

